<%- include("header.ejs") %>

<h1>Your search results for, "<%= query %>" are...</h1>
<%  if(results.length==0){ %>
        <h2>Sorry, nothing could be found</h2>
<% } else { %>
<%  for(let i=results.length-1; i>=0; i--){ let post=results[i]; %>
<div class="prodCard">

    <div class="coverImgContainer">
        <img src="/imgUpload/<%= post.img %>" alt="coverImg" class="coverImg"/>
    </div>

    <div class="prodDetails">

        <div class="listCol">
            <p class="prodTitle"><%= post.title %></p>
            <p class="prodDesc"><%= post.description %></p>

            <p class="prodSubTitle">Contact</p>
            <p class="prodSubDetail"><%= post.contact %></p>

            
        </div>
        <div class="priceCol">
            <p class="prodPrice">$<%= post.askPrice %></p>
        </div>

    </div>

</div>

<% }}    %>

<%- include("footer.ejs") %>